model: openai
highlight: true
light_theme: ${AICHAT_LIGHT_THEME}
wrap: no
wrap_code: false
keybindings: vi
save_session: false
save_shell_history: true
left_prompt: '🤖 󰅂 '
clients:
- type: openai
  api_key: ${OPENAI_API_KEY}
