import = [
    "~/.config/alacritty/themes/${ALACRITTY_THEME}.toml"
]

[font]
normal = { family = "${ALACRITTY_FONT}", style = "Regular" }
bold = { family = "${ALACRITTY_FONT}", style = "Bold" }
italic = { family = "${ALACRITTY_FONT}", style = "Italic" }
bold_italic = { family = "${ALACRITTY_FONT}", style = "Bold" }
size = ${ALACRITTY_FONT_SIZE}

[window]
option_as_alt = "OnlyLeft"
startup_mode = "Maximized"
