# macos
.DS_Store

# nvim
nvim/plugin/*
*en.utf-8.add.spl
.luarc.json
lazy-lock.json
.colorscheme
.background
.theme

# upterm
tmux-client-*.log

# zsh extensions
dotfiles/.zsh/zshrc_extensions/*
!dotfiles/.zsh/zshrc_extensions/README.md
