# macos
.DS_Store

# templated configs
dotfiles/.config/lazygit/config.yml

# nvim
dotfiles/.config/nvim/lua/plugins/integrations/*.lua
*en.utf-8.add.spl
.luarc.json
lazy-lock.json

# ssh
dotfiles/.ssh/*
!dotfiles/.ssh/config

# upterm
tmux-client-*.log

# zsh extensions
dotfiles/.zsh/zshrc_extensions/*
!dotfiles/.zsh/zshrc_extensions/README.md
