layout {

    focus-ring {
        active-color   "#a9ccda"
        inactive-color "#121414"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a9ccda"
        inactive-color "#121414"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a9ccda"
        inactive-color "#153944"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a9ccda80"
    }
}

recent-windows {
    highlight {
        active-color "#a9ccda"
        urgent-color "#ffb4ab"
    }
}
