layout {

    focus-ring {
        active-color   "#a4c9f8"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a4c9f8"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a4c9f8"
        inactive-color "#3b618a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a4c9f880"
    }
}

recent-windows {
    highlight {
        active-color "#a4c9f8"
        urgent-color "#ffb4ab"
    }
}
